@model Solaris.Models.RootSolaris
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        table {
            max-width: 100%;
            margin: auto;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            overflow-x: auto;
        }

        th {
            padding: 5px;
            text-align: center;
        }

        td {
            padding: 5px;
            text-align: left;
        }

        table#TBL tr:nth-child(even) {
            background-color: white;
        }

        table#TBL tr:nth-child(odd) {
            background-color: white ;
        }

        table#TBL th {
            background-color: #90C1D7;
            color: black;
        }

        .container {
            margin: 20px;
            width: auto;
        }
        /* The navbar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            /* Navbar links */
            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 80px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

             /*   .topnav a.active {
                    background-color: #4CAF50;
                    color: white;
                }*/

            .topnav .icon {
                display: none;
            }

       @* @media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {
                display: none;
            }*@

            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @*@media screen and (max-width: 600px) {
            .topnav.responsive {
                position: relative;
            }*@

                .topnav.responsive .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                .topnav.responsive a {
                    float: none;
                    display: block;
                    text-align: left;
                }
        }
    </style>
</head>
<body>
    <font face="Arial Black">
        <br>

        <h1 align="center">About Us </h1>

        <br>
        <div class="container">
            <div class="topnav" id="myNav">
                @*<a class="active" href="index.html">Home</a>
                    <a href="master.html">Project Demographics</a>
                    <a href="detail.html">Project Specifications</a>
                    <a href="aboutus.html">About Us</a>*@
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                @*@<a asp-controller="/master.cshtml">Project Demographics</a>*@
                <a asp-area="" asp-controller="Home" asp-action="master">Project Demographics</a>
                @*<a @Html.ActionLink("Project Demographics", "master", "Home")></a>*@
                @*<a href="detail.cshtml">Project Specifications</a>*@
                <a asp-area="" asp-controller="Home" asp-action="detail">Project Specification</a>
                @*@<a href="aboutus.cshtml">About Us</a>*@
                <a asp-area="" asp-controller="Home" asp-action="aboutus">About Us</a>
                <a href="javascript:void(0);" class="icon" onclick="homepageFunc()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>
        <script>
            function homepageFunc() {
                var x = document.getElementById("myNav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>

        <p>
            This website is made as par requirement provided by course Distributed Information System (ISM 6225) at University of South Florida. This assignment helped us practice html, css, JavaScriptand ASP.NET Core MVC architechture. The Important learning we got from this project are -   <br>
            1. Good understanding of MVC architechture </br>
            2. Good understanding of razor and cshtml page creation technique </br>
            3. Good grasp on API handling and can are able to create mictoservices now </br>
            4. Good understanding on file rendering in asp.net core. </br>
            <table id="TBL">
                <tbody>
                    <tr>
                        <th>Team Member</th>
                        <th>Contribution</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="display-field"><img src="/Home/T.jpg" alt="Tejas" style="width:128px;height:128px;" /></div>

                            <br>
                            <a href="https://www.linkedin.com/in/tejas-kulkarni-bb5b39103/">Tejas Kulkarni</a>
                            <br>
                            tmkulkarni@usf.edu
                        </td>
                        <td>The main idea behind project and development was Tejas. He actively worked on doing programming of HTML and worked on the main design and helped implementing the same with the team. He also contributed in making the Project demographics page. He has worked as a software devoloper in a UK based market research firm. He is a keen data science enthusiast.</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="display-field"><img src="/Home/G.png" alt="Gaurav" style="width:128px;height:128px;" /></div>

                            <br>
                            <a href="https://www.linkedin.com/in/gauravravirokade/">Gaurav Rokade</a>
                            <br>
                            gauravrokade@usf.edu
                        </td>
                        <td>An ambitious Graduate student in Business analytics and information systems and a hard working personal with about 4 years of experience as a business analyst. My areas are interest are Statistical  Data Mining, Big Data and Data Visualization. He has contributed in finding the database, collecting relevant information about it and designing Home page.</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="display-field"></div>
                            <img src="/Home/S.png" alt="Siddharth" style="width:128px;height:128px;" />
                            <br>
                            <a href="https://www.linkedin.com/in/siddharth-mundada-918b22211/">Siddharth Mundada</a>
                            <br>
                            siddharthm1@usf.edu
                        </td>
                        <td>He is conscientious individual with 3 years of robust experience in analyzing data, developing and supporting ETL Architectures using Informatica tools and he is an aspiring graduate student of Business Analytics and Information Systems at University of South Florida. He contributed in designing various pages of the website which involved about us and project specifications.</td>
                    </tr>
                </tbody>
            </table>
</font>

    <h3>Data Model</h3>

    <div class="display-field"><img src="/Home/Model.png" alt="Model" style="width:960px;height:540px;"/>
    

</body>
</html>